<mat-card>
    <form [formGroup]="firstFormGroup">
    <mat-form-field appearance="fill">
        <mat-label>Usuário</mat-label>
        <input matInput placeholder="Usuário" formControlName="login" [(ngModel)]="user.login" name="login">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" [(ngModel)]="user.password" name="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Esconder senha'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <br>
    <button mat-button (click)="login()">Login</button>
    </form>
</mat-card>